body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  width: 960px;
  margin: auto; }

h1, h2 {
  font-family: "Roboto Condensed", sans-serif; }

a {
  color: #556677;
  text-decoration: none; }
  a:hover {
    color: #aabbcc; }

label, input {
  display: block; }

input[type="checkbox"] {
  display: inline; }

label {
  font-weight: bold; }

input {
  font-size: 125%; }

.field:nth-child(n+2) {
  margin-top: 10px; }

input[type="text"] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-boz-sizing: border-box;
  background-color: #eeeeee;
  border: none;
  border-left: 3px solid #aabbcc;
  width: 100%;
  padding: 10px; }
  input[type="text"]:focus {
    background-color: #ddeeff; }

input[type="submit"] {
  margin-top: 10px; }

.actions {
  margin-top: 25px; }
  .actions a {
    display: inline-block;
    margin-right: 10px; }

.tabs {
  list-style: none;
  padding-left: 0;
  border-bottom: 1px solid black; }
  .tabs li {
    display: inline-block;
    margin-bottom: -1px; }
  .tabs a {
    display: inline-block;
    font-size: 125%;
    padding: 10px; }
    .tabs a.selected {
      border: 1px solid black;
      border-bottom: 1px solid white;
      color: black; }
  .tabs ~ section {
    display: none; }
    .tabs ~ section.displayed {
      display: block; }

.projects,
.machines {
  list-style: none;
  padding-left: 0;
  font-size: 125%;
  font-weight: bold; }
  .projects li,
  .machines li {
    border-left: 3px solid #aabbcc;
    padding: 10px; }
    .projects li:nth-child(even),
    .machines li:nth-child(even) {
      background-color: #f8f8f8; }
    .projects li:hover,
    .machines li:hover {
      background-color: aliceblue;
      border-left: 3px solid lightslategrey; }

.performance-test-suites {
  list-style: none;
  padding-left: 0;
  font-size: 125%;
  font-weight: bold; }
  .performance-test-suites li {
    border-left: 3px solid #aabbcc;
    padding: 10px; }
    .performance-test-suites li:nth-child(even) {
      background-color: #f8f8f8; }
    .performance-test-suites li:hover {
      background-color: aliceblue;
      border-left: 3px solid lightslategrey; }

.properties div:before {
  content: attr(class);
  display: block;
  font-weight: bold; }

.run-date,
.run-time {
  color: #888888;
  font-size: 75%; }

.performance-test-suite-runs {
  border-collapse: collapse;
  width: 100%; }
  .performance-test-suite-runs tr:nth-child(even) {
    background-color: #eeeeee; }
  .performance-test-suite-runs tr:hover {
    background-color: #ffffee; }
  .performance-test-suite-runs tr td {
    padding: 5px; }
  .performance-test-suite-runs tr:first-child {
    border-bottom: 1px solid black; }
    .performance-test-suite-runs tr:first-child:hover {
      background-color: white; }
  .performance-test-suite-runs th {
    text-align: left; }
  .performance-test-suite-runs .date,
  .performance-test-suite-runs .time {
    white-space: nowrap; }
  .performance-test-suite-runs .comment {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis; }

.test-runs {
  border-collapse: collapse;
  width: 100%; }
  .test-runs tr:nth-child(even) {
    background-color: #eeeeee; }
  .test-runs tr:hover {
    background-color: #ffffee; }
  .test-runs tr td {
    padding: 5px; }
  .test-runs tr:first-child {
    border-bottom: 1px solid black; }
    .test-runs tr:first-child:hover {
      background-color: white; }
  .test-runs th {
    text-align: left; }
  .test-runs span.tags {
    font-size: 80%; }
  .test-runs input[type="checkbox"] {
    position: relative;
    top: 4px; }

.performance-test-runs {
  border-collapse: collapse;
  width: 100%; }
  .performance-test-runs tr:nth-child(even) {
    background-color: #eeeeee; }
  .performance-test-runs tr:hover {
    background-color: #ffffee; }
  .performance-test-runs tr td {
    padding: 5px; }
  .performance-test-runs tr:first-child {
    border-bottom: 1px solid black; }
    .performance-test-runs tr:first-child:hover {
      background-color: white; }
  .performance-test-runs th {
    text-align: left; }

.elapsed_seconds,
.repetitions,
.average {
  text-align: right !important; }

td.elapsed_seconds:after,
td.average:after {
  content: " s";
  font-size: 90%; }

.date,
.time {
  white-space: nowrap; }

.changeset {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis; }

.CodeMirror {
  height: auto;
  border-top: 1px solid black;
  margin: 24px auto; }

.CodeMirror-scroll {
  overflow-x: auto;
  overflow-y: hidden; }
