body {
  width: 960px;
  margin: auto; }

h1, h2 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }

a {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #556677;
  text-decoration: none; }
  a:hover {
    color: #aabbcc; }

.projects,
.machines {
  list-style: none;
  padding-left: 0; }

.performance-test-suites {
  list-style: none;
  padding-left: 0; }

.performance-test-suite-runs {
  border-collapse: collapse;
  display: table; }
  .performance-test-suite-runs a:nth-child(even) {
    background-color: #eeeeee; }
  .performance-test-suite-runs a:hover {
    background-color: #ffffee; }
  .performance-test-suite-runs a div {
    padding: 5px; }
  .performance-test-suite-runs a {
    display: table-row; }
    .performance-test-suite-runs a div {
      display: table-cell; }

.test-runs {
  border-collapse: collapse;
  display: table; }
  .test-runs li:nth-child(even) {
    background-color: #eeeeee; }
  .test-runs li:hover {
    background-color: #ffffee; }
  .test-runs li div {
    padding: 5px; }
  .test-runs li {
    display: table-row; }
    .test-runs li div {
      display: table-cell; }

.performance-test-runs {
  border-collapse: collapse; }
  .performance-test-runs tr:nth-child(even) {
    background-color: #eeeeee; }
  .performance-test-runs tr:hover {
    background-color: #ffffee; }
  .performance-test-runs tr td {
    padding: 5px; }
