@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Roboto+Condensed:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Roboto+Condensed:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Roboto+Condensed:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Roboto+Condensed:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Roboto+Condensed:400,700);
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin-top: 0; }
  body header {
    width: 960px;
    line-height: 60px;
    margin: 0 auto;
    padding: 0;
    color: white; }
    body header:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 60px;
      background-color: #334455;
      z-index: -1; }
    body header h1 {
      display: inline-block;
      font-size: 64px;
      margin: 0;
      padding: 0; }
    body header .session {
      display: inline-block; }
    body header a {
      color: #aabbcc; }
      body header a:hover {
        color: #ddeeff; }
  body.normal-view .main {
    width: 960px;
    margin: auto; }
  body.split-view .main {
    position: absolute;
    top: 60px;
    left: 0;
    right: 50%;
    padding: 20px; }
  body.split-view .supplemental {
    position: absolute;
    top: 60px;
    left: 50%;
    right: 0;
    padding: 20px; }

h1, h2 {
  font-family: "Roboto Condensed", sans-serif; }

a {
  color: #556677;
  text-decoration: none; }
  a:hover {
    color: #aabbcc; }

.notices {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-boz-sizing: border-box;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  opacity: 0.75;
  filter: alpha(opacity=75);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  width: 300px;
  background-color: black;
  color: white; }
  .notices:empty {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    right: -300px; }
  .notices .notice {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 150%;
    text-transform: uppercase; }

label, input {
  display: block; }

input[type="checkbox"] {
  display: inline; }

label {
  font-weight: bold; }

input {
  font-size: 125%; }

.field:nth-child(n+2) {
  margin-top: 10px; }

input[type="text"] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-boz-sizing: border-box;
  background-color: #eeeeee;
  border: none;
  border-left: 3px solid #aabbcc;
  width: 100%;
  padding: 10px; }
  input[type="text"]:focus {
    background-color: #ddeeff; }

input[type="submit"] {
  margin-top: 10px; }

.actions {
  margin-top: 25px; }
  .actions a {
    display: inline-block;
    margin-right: 10px; }

.tabs {
  list-style: none;
  padding-left: 0;
  border-bottom: 1px solid black; }
  .tabs li {
    display: inline-block;
    margin-bottom: -1px; }
  .tabs a {
    display: inline-block;
    font-size: 125%;
    padding: 10px; }
    .tabs a.selected {
      border: 1px solid black;
      border-bottom: 1px solid white;
      color: black; }
  .tabs ~ section {
    display: none; }
    .tabs ~ section.displayed {
      display: block; }

.projects,
.machines {
  list-style: none;
  padding-left: 0;
  font-size: 125%;
  font-weight: bold; }
  .projects li,
  .machines li {
    border-left: 3px solid #aabbcc;
    padding: 10px; }
    .projects li:nth-child(even),
    .machines li:nth-child(even) {
      background-color: #f8f8f8; }
    .projects li:hover,
    .machines li:hover {
      background-color: aliceblue;
      border-left: 3px solid lightslategrey; }

.performance-test-suites {
  list-style: none;
  padding-left: 0;
  font-size: 125%;
  font-weight: bold; }
  .performance-test-suites li {
    border-left: 3px solid #aabbcc;
    padding: 10px; }
    .performance-test-suites li:nth-child(even) {
      background-color: #f8f8f8; }
    .performance-test-suites li:hover {
      background-color: aliceblue;
      border-left: 3px solid lightslategrey; }

.properties div:before {
  content: attr(class);
  display: block;
  font-weight: bold; }

.run-date,
.run-time {
  color: #888888;
  font-size: 75%; }

.performance-test-suite-runs {
  border-collapse: collapse;
  width: 100%; }
  .performance-test-suite-runs tr:first-child th {
    vertical-align: bottom; }
  .performance-test-suite-runs tr:nth-child(n+2) td {
    padding: 5px;
    white-space: nowrap; }
  .performance-test-suite-runs tr:nth-child(even) {
    background-color: #eeeeee; }
  .performance-test-suite-runs tr:hover {
    background-color: #ffffee; }
  .performance-test-suite-runs tr:first-child {
    border-bottom: 1px solid black; }
    .performance-test-suite-runs tr:first-child:hover {
      background-color: white; }
  .performance-test-suite-runs th {
    text-align: left; }
  .performance-test-suite-runs td.date,
  .performance-test-suite-runs td.time,
  .performance-test-suite-runs td.elapsed-seconds {
    white-space: nowrap; }
  .performance-test-suite-runs .changeset {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis; }
    .performance-test-suite-runs .changeset a:empty:after {
      content: "(HEAD)"; }

.test-runs {
  border-collapse: collapse;
  width: 100%; }
  .test-runs tr:first-child th {
    vertical-align: bottom; }
  .test-runs tr:nth-child(n+2) td {
    padding: 5px;
    white-space: nowrap; }
  .test-runs tr:nth-child(even) {
    background-color: #eeeeee; }
  .test-runs tr:hover {
    background-color: #ffffee; }
  .test-runs tr:first-child {
    border-bottom: 1px solid black; }
    .test-runs tr:first-child:hover {
      background-color: white; }
  .test-runs th {
    text-align: left; }
  .test-runs span.tag {
    display: inline-block;
    background-color: #ccddee;
    font-size: 80%;
    margin-left: 0.5em;
    padding: 0 0.5em;
    cursor: pointer; }
    .test-runs span.tag:hover {
      background-color: #ddeeff; }
  .test-runs input[type="checkbox"] {
    position: relative;
    top: 4px; }

.text-filter {
  margin-bottom: 20px; }

.performance-test-runs {
  border-collapse: collapse;
  width: 100%; }
  .performance-test-runs tr:first-child th {
    vertical-align: bottom; }
  .performance-test-runs tr:nth-child(n+2) td {
    padding: 5px;
    white-space: nowrap; }
  .performance-test-runs tr:nth-child(even) {
    background-color: #eeeeee; }
  .performance-test-runs tr:hover {
    background-color: #ffffee; }
  .performance-test-runs tr:first-child {
    border-bottom: 1px solid black; }
    .performance-test-runs tr:first-child:hover {
      background-color: white; }
  .performance-test-runs th {
    text-align: left; }
  .performance-test-runs tr.current td {
    font-weight: bold; }

.elapsed_seconds,
.repetitions,
.average {
  text-align: right !important; }

td.elapsed_seconds:after,
td.average:after {
  content: " s";
  font-size: 90%; }

.date,
.time {
  white-space: nowrap; }

.changeset {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis; }
  .changeset a:empty:after {
    content: "(HEAD)"; }

.CodeMirror {
  font-family: "Source Code Pro", monospace;
  height: auto;
  border-top: 1px solid black;
  margin: 24px auto; }

.CodeMirror-scroll {
  overflow-x: auto;
  overflow-y: hidden; }
