.performance-test-suites {
  list-style: none;
  padding-left: 0;
  font-size: 125%;
  font-weight: bold; }
  .performance-test-suites li {
    padding: 10px; }
    .performance-test-suites li:nth-child(even) {
      background-color: #f8f8f8; }
    .performance-test-suites li:hover {
      background-color: aliceblue; }
