@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Roboto+Condensed:400,700);
.performance-test-suites {
  list-style: none;
  padding-left: 0;
  font-size: 125%;
  font-weight: bold; }
  .performance-test-suites li {
    border-left: 3px solid #aabbcc;
    padding: 10px; }
    .performance-test-suites li:nth-child(even) {
      background-color: #f8f8f8; }
    .performance-test-suites li:hover {
      background-color: aliceblue;
      border-left: 3px solid lightslategrey; }
