.run-date,
.run-time {
  color: #888888;
  font-size: 75%; }

.performance-test-suite-runs {
  border-collapse: collapse;
  display: table; }
  .performance-test-suite-runs a:nth-child(even) {
    background-color: #eeeeee; }
  .performance-test-suite-runs a:hover {
    background-color: #ffffee; }
  .performance-test-suite-runs a div {
    padding: 5px; }
  .performance-test-suite-runs a {
    display: table-row; }
    .performance-test-suite-runs a div {
      display: table-cell; }

.test-runs {
  border-collapse: collapse;
  width: 100%; }
  .test-runs tr:nth-child(even) {
    background-color: #eeeeee; }
  .test-runs tr:hover {
    background-color: #ffffee; }
  .test-runs tr td {
    padding: 5px; }
  .test-runs tr:first-child {
    border-bottom: 1px solid black; }
    .test-runs tr:first-child:hover {
      background-color: white; }
  .test-runs th {
    text-align: left; }
  .test-runs input[type="checkbox"] {
    position: relative;
    top: 4px; }
