/*
Syntax error: Undefined mixin 'tabular'.
        on line 2 of /Users/dantao/Projects/Perft/app/stylesheets/suites.sass, in `tabular'
        from line 2 of /Users/dantao/Projects/Perft/app/stylesheets/suites.sass

1: .performance-test-suite-runs
2:   @include tabular(a)
3: 
4: .test-runs
5:   @include tabular(li)

Backtrace:
/Users/dantao/Projects/Perft/app/stylesheets/suites.sass:2:in `tabular'
/Users/dantao/Projects/Perft/app/stylesheets/suites.sass:2
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/tree/root_node.rb:20:in `render'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/engine.rb:315:in `_render'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/engine.rb:262:in `render'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:201:in `each'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sass-3.2.7/lib/sass/plugin/rack.rb:51:in `call'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/rack-protection-1.5.0/lib/rack/protection/xss_header.rb:18:in `call'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/rack-protection-1.5.0/lib/rack/protection/base.rb:49:in `call'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/rack-protection-1.5.0/lib/rack/protection/base.rb:49:in `call'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/rack-protection-1.5.0/lib/rack/protection/path_traversal.rb:16:in `call'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/rack-protection-1.5.0/lib/rack/protection/json_csrf.rb:18:in `call'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/rack-protection-1.5.0/lib/rack/protection/base.rb:49:in `call'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/rack-protection-1.5.0/lib/rack/protection/base.rb:49:in `call'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/rack-protection-1.5.0/lib/rack/protection/frame_options.rb:31:in `call'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/rack-1.5.2/lib/rack/head.rb:11:in `call'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/rack-1.5.2/lib/rack/methodoverride.rb:21:in `call'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/padrino-core-0.11.1/lib/padrino-core/reloader.rb:337:in `call'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/padrino-core-0.11.1/lib/padrino-core/logger.rb:405:in `call'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sinatra-1.4.2/lib/sinatra/showexceptions.rb:21:in `call'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/rack-1.5.2/lib/rack/session/abstract/id.rb:225:in `context'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/rack-1.5.2/lib/rack/session/abstract/id.rb:220:in `call'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sinatra-1.4.2/lib/sinatra/base.rb:1947:in `call'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sinatra-1.4.2/lib/sinatra/base.rb:1610:in `block in call'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sinatra-1.4.2/lib/sinatra/base.rb:1693:in `synchronize'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/sinatra-1.4.2/lib/sinatra/base.rb:1610:in `call'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/padrino-core-0.11.1/lib/padrino-core/router.rb:83:in `block in call'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/padrino-core-0.11.1/lib/padrino-core/router.rb:76:in `each'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/padrino-core-0.11.1/lib/padrino-core/router.rb:76:in `call'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/thin-1.5.1/lib/thin/connection.rb:81:in `block in pre_process'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/thin-1.5.1/lib/thin/connection.rb:79:in `catch'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/thin-1.5.1/lib/thin/connection.rb:79:in `pre_process'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/thin-1.5.1/lib/thin/connection.rb:54:in `process'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/thin-1.5.1/lib/thin/connection.rb:39:in `receive_data'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/eventmachine-1.0.3/lib/eventmachine.rb:187:in `run_machine'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/eventmachine-1.0.3/lib/eventmachine.rb:187:in `run'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/thin-1.5.1/lib/thin/backends/base.rb:63:in `start'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/thin-1.5.1/lib/thin/server.rb:159:in `start'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/thin-1.5.1/lib/thin/controllers/controller.rb:86:in `start'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/thin-1.5.1/lib/thin/runner.rb:187:in `run_command'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/thin-1.5.1/lib/thin/runner.rb:152:in `run!'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/gems/thin-1.5.1/bin/thin:6:in `<top (required)>'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/bin/thin:23:in `load'
/Users/dantao/.rvm/gems/ruby-2.0.0-p0@perft/bin/thin:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'tabular'.\A         on line 2 of /Users/dantao/Projects/Perft/app/stylesheets/suites.sass, in `tabular'\A         from line 2 of /Users/dantao/Projects/Perft/app/stylesheets/suites.sass\A \A 1: .performance-test-suite-runs\A 2:   @include tabular(a)\A 3: \A 4: .test-runs\A 5:   @include tabular(li)"; }
