@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Roboto+Condensed:400,700);
.run-date,
.run-time {
  color: #888888;
  font-size: 75%; }

.performance-test-suite-runs {
  border-collapse: collapse;
  width: 100%; }
  .performance-test-suite-runs tr:first-child th {
    vertical-align: bottom; }
  .performance-test-suite-runs tr:nth-child(n+2) td {
    padding: 5px;
    white-space: nowrap; }
  .performance-test-suite-runs tr:nth-child(even) {
    background-color: #eeeeee; }
  .performance-test-suite-runs tr:hover {
    background-color: #ffffee; }
  .performance-test-suite-runs tr:first-child {
    border-bottom: 1px solid black; }
    .performance-test-suite-runs tr:first-child:hover {
      background-color: white; }
  .performance-test-suite-runs th {
    text-align: left; }
  .performance-test-suite-runs td.date,
  .performance-test-suite-runs td.time,
  .performance-test-suite-runs td.elapsed-seconds {
    white-space: nowrap; }
  .performance-test-suite-runs .changeset {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis; }
    .performance-test-suite-runs .changeset a:empty:after {
      content: "(HEAD)"; }

.test-runs {
  border-collapse: collapse;
  width: 100%; }
  .test-runs tr:first-child th {
    vertical-align: bottom; }
  .test-runs tr:nth-child(n+2) td {
    padding: 5px;
    white-space: nowrap; }
  .test-runs tr:nth-child(even) {
    background-color: #eeeeee; }
  .test-runs tr:hover {
    background-color: #ffffee; }
  .test-runs tr:first-child {
    border-bottom: 1px solid black; }
    .test-runs tr:first-child:hover {
      background-color: white; }
  .test-runs th {
    text-align: left; }
  .test-runs span.tag {
    display: inline-block;
    background-color: #ccddee;
    font-size: 80%;
    margin-left: 0.5em;
    padding: 0 0.5em;
    cursor: pointer; }
    .test-runs span.tag:hover {
      background-color: #ddeeff; }
  .test-runs input[type="checkbox"] {
    position: relative;
    top: 4px; }

.text-filter {
  margin-bottom: 20px; }
