.performance-test-runs {
  border-collapse: collapse; }
  .performance-test-runs tr:nth-child(even) {
    background-color: #eeeeee; }
  .performance-test-runs tr:hover {
    background-color: #ffffee; }
  .performance-test-runs tr td {
    padding: 5px; }
