@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Roboto+Condensed:400,700);
.performance-test-runs {
  border-collapse: collapse;
  width: 100%; }
  .performance-test-runs tr:first-child th {
    vertical-align: bottom; }
  .performance-test-runs tr:nth-child(n+2) td {
    padding: 5px;
    white-space: nowrap; }
  .performance-test-runs tr:nth-child(even) {
    background-color: #eeeeee; }
  .performance-test-runs tr:hover {
    background-color: #ffffee; }
  .performance-test-runs tr:first-child {
    border-bottom: 1px solid black; }
    .performance-test-runs tr:first-child:hover {
      background-color: white; }
  .performance-test-runs th {
    text-align: left; }
  .performance-test-runs tr.current td {
    font-weight: bold; }

.elapsed_seconds,
.repetitions,
.average {
  text-align: right !important; }

td.elapsed_seconds:after,
td.average:after {
  content: " s";
  font-size: 90%; }
td.elapsed_seconds:empty:after,
td.average:empty:after {
  content: ""; }

.date,
.time {
  color: #888888;
  font-size: 75%;
  white-space: nowrap; }

.changeset {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis; }
  .changeset a:empty:after {
    content: "(HEAD)"; }

.CodeMirror {
  font-family: "Source Code Pro", monospace;
  height: auto;
  border-top: 1px solid black;
  margin: 24px auto; }

.CodeMirror-scroll {
  overflow-x: auto;
  overflow-y: hidden; }
