@import "common"

body
  @include simpleFont
  margin-top: 0

  header
    line-height: 60px
    padding: 0
    color: #fff

    &:before
      content: ""
      position: absolute
      top: 0
      left: 0
      right: 0
      height: 60px
      background-color: #345
      z-index: -1

    h1
      display: inline-block
      font-size: 64px
      margin: 0
      padding: 0

    .session
      display: inline-block

    a
      color: #abc

      &:hover
        color: #def

  &.normal-view
    header,
    .main
      width: 90%
      margin: 0 auto

  &.split-view
    .main
      position: absolute
      top: 60px
      left: 0
      right: 50%
      padding: 20px
      overflow-x: hidden

    .supplemental
      position: absolute
      top: 60px
      left: 50%
      right: 0
      padding: 20px
      overflow-x: hidden

h1,
h2
  @include headingFont

.main h1
  font-size: 200%
  margin-bottom: 0

  a
    font-size: 75%

.main h2
  font-size: 150%
  margin-top: 0

a
  color: #567
  text-decoration: none

  &:hover
    color: #abc

.notices
  @include borderBox
  @include animated
  @include translucent(0.75)
  position: fixed
  top: 0
  bottom: 0
  right: 0
  padding: 20px
  width: 300px
  background-color: #000
  color: #fff

  &:empty
    @include animated
    right: -300px

  .notice
    @include headingFont
    font-size: 150%
    text-transform: uppercase

label, input
  display: block

input[type="checkbox"]
  display: inline

label
  font-weight: bold

input
  font-size: 125%

.field:nth-child(n+2)
  margin-top: 10px

input[type="text"]
  @include borderBox
  background-color: #eee
  border: none
  border-left: 3px solid #abc
  width: 100%
  padding: 10px

  &:focus
    background-color: #def

input[type="submit"]
  margin-top: 10px

.actions
  margin-top: 25px

  a
    display: inline-block
    margin-right: 10px

@import "index"
@import "projects"
@import "machines"
@import "suites"
@import "tests"
