@import "common"

body
  width: 960px
  margin: auto

h1, h2
  @include simpleFont

a
  @include simpleFont

  color: #567
  text-decoration: none

  &:hover
    color: #abc

@import "index"
@import "projects"
@import "suites"
@import "tests"
