@mixin tabularBase($recordType, $cellType)
  border-collapse: collapse

  #{$recordType}
    &:nth-child(even)
      background-color: #eee
    &:hover
      background-color: #ffe
    #{$cellType}
      padding: 5px

@mixin table
  @include tabularBase(tr, td)

@mixin tabular($recordType)
  @include tabularBase($recordType, div)

  display: table

  #{$recordType}
    display: table-row
    div
      display: table-cell

@mixin plainList
  list-style: none
  padding-left: 0

@mixin simpleFont
  font-family: "Open Sans", Helvetica, Arial, sans-serif
