@import "common"

.run-date,
.run-time
  color: #888
  font-size: 75%

.performance-test-suite-runs
  @include tabular(a)

  .date,
  .time
    white-space: nowrap

  .comment
    white-space: nowrap
    overflow-x: hidden
    text-overflow: ellipsis

.test-runs
  @include table

  input[type="checkbox"]
    position: relative
    top: 4px
