@import "common"

.performance-test-runs
  @include table

  tr.current
    td
      font-weight: bold

.elapsed_seconds,
.repetitions,
.average
  @include numericColumn

td.elapsed_seconds,
td.average
  @include units(s)

.date,
.time
  white-space: nowrap

.changeset
  white-space: nowrap
  overflow-x: hidden
  text-overflow: ellipsis

  a:empty:after
    content: "(HEAD)"

.CodeMirror
  @include codeFont
  height: auto
  border-top: 1px solid black
  margin: 24px auto

.CodeMirror-scroll
  overflow-x: auto
  overflow-y: hidden
