@import "common"

.performance-test-runs
  @include table

.changeset
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.elapsed_seconds
  text-align: right !important

.CodeMirror
  border-top: 1px solid black
  margin: 24px auto
