%section.project
  %h1= @project.name

  %ol.performance-test-suites
    - @project.performance_test_suites(:order => [:name.asc]).each do |suite|
      %li= link_to suite.name, "/suites/#{suite.id}"

  = link_to("Back", "/")
